

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    background-color: #240046;
    padding: 50px; 
    width: 500px;
    margin: 0 auto; 
    border: none;
    align-items: center; 
    text-align: center;
    color: white;
    border-right: 20px solid #10002B;
    border-left: 20px solid #10002B;
    border-bottom: 20px solid #10002B;
    border-top: 20px solid #10002B;
}

input:hover {
    background-color: #C77DFF;
}

.button-enviar {
    background-color: #9D4EDD;
    border: none;
    

}

.formulario button {
    border-radius: 5%;
    cursor: pointer;
}



.formulario input, .formulario textarea, .formulario button {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
}

.titulo-contacto {
    color: #10002B;
    text-align: center;
    font-size: xxx-large;
    margin: 2%;
}