.nombre-producto {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #9D4EDD;
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(79, 0, 108, 0.5);
    padding: 2%;
}

.foto-producto {
    max-width: 30em;
    max-height: 30em; 
    width: auto; 
    height: auto; 
    object-fit: cover; 
    border-radius: 5px; 
}

.section-detalle__producto-Detalle {
    text-align: center;
    font-size: 1em;
}

.info {
    color: #3C096C;
}