.card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden; /* No quiero que me ocupe todo el ancho disponible */
    box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.3); /* Le agrego sombra a la carta */
    border-radius: 15px;
    transition: transform .2s; /* Le digo cuantos segundos debe tardar la transformacion, en este caso 2seg, por lo que termina haciendo mas pausado el giro */
    background: linear-gradient(135deg, #3C096C, #FF6FB5);



    &:hover, 
    &:focus { 
        box-shadow: 0px 7px 8px 0px black;
        cursor: pointer;
    }

    .card__heading {
        font-family: "Montserrat", sans-serif;

    }

    .card__description {
        text-align: center;
    }

    .btn_agregar {
        background-color: #1b1b1b; // Color principal del bot칩n
        color: #fff; // Color del texto
        font-size: 14px; // Tama침o adecuado para dispositivos m칩viles
        padding: 10px 20px; // Espaciado interno del bot칩n
        border: none;
        margin-top: 15%;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.2s ease;
      
        &:hover {
          background-color: #1b1212; // Color al pasar el mouse
          transform: scale(1.10); // Un leve zoom
        }
      }
      
    &__article {
        display: flex; 
        /* Convierto en un flex container, osea que todo lo que tenga adentro termina siendo un flex item */
    }

    &__image { /* la foto de los productos */
        object-fit: cover; /* le digo que ocupe todo el espacio disponible que haya */
        width: 100%; /*En esta instruccion y la de abajo le digo que tome el alto y el ancho que ya defini en .card*/
        height: 100%;
    }

    &__image-container { /* Contenedor de la imagen */
        height: 200px;
        background-color: blue;
        overflow: hidden; /* Por si se sale la imagen, no lo permito */
      
    }


    /* Responsive 992px */
    @media screen and (min-width: 992px){ /* Cuando la pantalla sea mas grande */
        & { /* .card: Como escribo este codigo dentro de la card, con el &, gracias a sass le estoy indicando que esta medida debe ser tomada dentro de la card */
            width: 220px;
            max-width: 300px;
            height: 400px;
            
        
        }
 
        &__article { /* card__article */
            flex-direction: column; /* Le pido que las cartas esten en forma de columna */
        }

    }

}