table.tabla-carrito {
    width: 100%; // La tabla ocupa el ancho completo del contenedor
    border-collapse: collapse; // Los bordes colapsan para un diseño limpio
    font-size: 14px; // Tamaño de fuente adecuado para móviles
    width: 95%;
    
    margin: 0 auto; // Centrar la tabla horizontalmente, si es necesario
  
    th, td {
        padding: 10px; // Espaciado interno en las celdas
        text-align: left; // Alinear el texto a la izquierda para legibilidad
        border: 1px solid #ddd; // Bordes sutiles para las celdas
      }
    
      th {
        background-color: #10002B; // Diferenciar los encabezados con un fondo ligero
        font-weight: bold; // Hacer que los encabezados resalten
        color: white;
      }
    
      td {
        background-color: #c5c2c2; // Fondo neutral para las celdas
      }

}

