table.tabla-carrito {
    width: 100%; // La tabla ocupa el ancho completo del contenedor
    border-collapse: collapse; // Los bordes colapsan para un diseño limpio
    font-size: 14px; // Tamaño de fuente adecuado para móviles
    width: 95%;
    
    margin: 0 auto; // Centrar la tabla horizontalmente, si es necesario
  
    th, td {
        padding: 10px; // Espaciado interno en las celdas
        text-align: left; // Alinear el texto a la izquierda para legibilidad
        border: 1px solid #ddd; // Bordes sutiles para las celdas
      }
    
      th {
        background-color: #10002B; // Diferenciar los encabezados con un fondo ligero
        font-weight: bold; // Hacer que los encabezados resalten
        color: white;
      }
    
      td {
        background-color: #c5c2c2; // Fondo neutral para las celdas
      }     
}

.btn-vaciar {

    background-color: #f41010; // Fondo del botón
    color: #fff; // Texto en blanco
    padding: 10px 20px;
    border: none;
    border-radius: 5px; // Bordes redondeados
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    &:hover {
      background-color: #a72323; // Color al pasar el mouse
    }
  
}

.total-items {
  padding-left: 30px;
  padding-top: 30px;
}
.btn-comprar {
    background-color: #5dcf2d; // Fondo del botón
    color: #fff; // Texto en blanco
    padding: 10px 20px;
    border: none;
    border-radius: 5px; // Bordes redondeados
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      background-color: #0a7621; // Color al pasar el mouse
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Efecto de sombra
    }
  


}

